@section Styles
{
    <link rel="stylesheet" href="~/css/about_style.css" asp-append-version="true" />
}

<h1>About Page</h1>
<p>This is educational ASP.NET MVC application for PV125 group!</p>

<div class="spinner-border">
    <span class="visually-hidden">Loading...</span>
</div>